.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.name {
  font-size: 32px;
  color: red;
}
========================================== */

.brand-logo {
  width: 1.7666015625em;
}

.co-logo {
  width: 1.7666015625em;
}

.company-logo {
  width: 1.7666015625em;
}

.cube-logo {
  width: 1.7666015625em;
}

.foster-logo {
  width: 1.7666015625em;
}

.yaco-logo {
  width: 1.7666015625em;
}

.antenna {
  width: 0.9423828125em;
}

.envelope {
  width: 1.3330078125em;
}

.smartphone {
  width: 0.625em;
}
